*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0C0102;
    color: rgb(255, 255, 255, 0.9);
    font-family: "Poppins";
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 4vw; /*view width*/
    position: absolute;
    z-index: 9;
    /* background-color: green; */
}

.hero{
    background-image: url("assets/hero.webp");
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 100vh; /*view height*/
    display: flex;
    align-items: center; /*posiciona vertical*/
    justify-content: space-between; /*posiciona horizontal*/

    .esquerda{

    }

}